/* RIGHT SIDE OF THE CONTAINER */

/* FACEBOOK EMBED */
.fb-page {
  border-radius: 3px;
}
.title2-container {
  margin-bottom: 1.5em;
}

/* SPOTIFY EMBED */
.ghost-right-title {
  font-size: 1.2rem;
  margin-top: 1em;
}
